@import 'init.scss';

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(blue, 0.3);
  //border: 1px solid grey;
}

.home-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alpineContainer{
  min-width: 100vw;
  min-height: 100vh;

  display:flex;
  align-items: center;
  justify-content: center;
}

#btnStart{
  z-index: 1;
  position: relative;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: max(3vw, 14px);
  font-weight: 300;
}