@import 'init.scss';

section {
  width: 100vw;
  height: 100vh;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    //border: 1px solid grey;
  }
}